<!-- welcome to {{title}}-->  <!-- {{}} ifadesi ile angular çağrılır. app.components.ts adresine gider ve title değişkeninin değerini getirir.-->
<!-- 
Hello {{user}}

{{product1.productName}} -->

<!-- html ile statik yazılışı
<ul>   
  <li>Bardak</li>
  <li>Laptop</li>  
  <li>Mause</li>  
</ul>
-->
<!-- Angular ile dinamik yazılışı-->
<!-- <ul>   
  <li  *ngFor="let product of products">{{product.productName}}</li>-->  <!--*ngFor angular için bir direktiftir. li tagını tekrarla demek. foreach döndügüsü demek-->
<!-- </ul>  -->

<div class="container">

  <app-navi></app-navi>

  <div class="row"> 

   <div class="col-md-3">
    <app-category></app-category>
   </div> 

   <div class="col-md-9">
    <app-product></app-product>   
   </div>
   
  </div>
 
  <router-outlet></router-outlet>
  

</div>
